﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Only Admin has access to this resource.</p>
    <p class="text-danger">Login with Admin Id.</p>
    <div class="col-6 text-right">
        <a asp-page="/Account/Login" asp-area="Identity" class="btn btn-info btn-dark btn-lg float-left">
            <i class="fas fa-plus"></i>  Login
        </a>
    </div>
</header>
