﻿@page
@model NetCoreProject.Pages.Users.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<br />
<h2 class="text-info">Edit User</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="ApplicationUser.Id"></label>
            </div>
            <div class="col-6">
                <input asp-for="ApplicationUser.Id" class="form-control" readonly="readonly" />
                <span asp-validation-for="ApplicationUser.Id" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="ApplicationUser.Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="ApplicationUser.Name" class="form-control" />
                <span asp-validation-for="ApplicationUser.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="ApplicationUser.Email"></label>
            </div>
            <div class="col-6">
                <input asp-for="ApplicationUser.Email" class="form-control" />
                <span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="ApplicationUser.PhoneNumber"></label>
            </div>
            <div class="col-6">
                <input asp-for="ApplicationUser.PhoneNumber" class="form-control" />
                <span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="ApplicationUser.Address"></label>
            </div>
            <div class="col-6">
                <input asp-for="ApplicationUser.Address" class="form-control" />
                <span asp-validation-for="ApplicationUser.Address" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="ApplicationUser.City"></label>
            </div>
            <div class="col-6">
                <input asp-for="ApplicationUser.City" class="form-control" />
                <span asp-validation-for="ApplicationUser.City" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="ApplicationUser.PostalCode"></label>
            </div>
            <div class="col-6">
                <input asp-for="ApplicationUser.PostalCode" class="form-control" />
                <span asp-validation-for="ApplicationUser.PostalCode" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3 offset-4">
                <input type="submit" value="Update" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div> 