﻿@page
@model NetCoreProject.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Index"; 
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<form method="post">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Users List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-page="/Account/Register" asp-area="Identity" class="btn btn-info">
                <i class="fas fa-plus"></i>  Create New User
            </a>
        </div>
    </div>

    <div class="border bg-white">
        <br />
        <div>
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.ApplicationUserList[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.ApplicationUserList[0].PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.ApplicationUserList[0].Email)
                    </th>
                    <th>
                      
                    </th>
                </tr>
                @foreach (var item in Model.ApplicationUserList)
                {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Email)
                </td>
                <td>

                            <a class="btn btn-primary text-white" asp-page="Edit" asp-route-id="@item.Id">
                                <i class="fas fa-edit">Edit</i>
                            </a>
                            <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger text-white">
                                <i class="fas fa-edit">Delete</i>
                            </button>
                        


                </td>
            </tr>

                }
            </table>
        </div>
    </div>
</form>  