﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<br />
<br />
<br />
<div class="text-center ">
    <h1 class="display-4 font-weight-bold">Welcome</h1>
    <p class="font-weight-normal">To Asp.Net Core Project!</p>
</div>
